
/* ***********************************************************************
 * Layout
 * *********************************************************************** */

body {
	font-family: sans-serif;
}

/*
 * Button array theme
 */
.volumeControl {
	font-size: smaller;
	display: inline-block;
	margin-bottom: 0.2em;
	margin-right: 0.2em;
}
.volumeControl > .name {
	padding-left: 0.2em;
	padding-right: 0.2em;
}
.buttoni, .buttoniactive {
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	min-width: 1.7em;
	min-height: 1.5em;
}


/*
 * Media Player theme.
 */
.audioPlayer {
	position: relative;
	margin-bottom: 0.2em;
}
.audioPlayer > * {
	padding-left: 0.2em;
	padding-right: 0.2em;
}
.audioPlayer > .playerName {
	position: absolute;
	right: 4.2em;
	top: -1.0em;
	z-index: 100;
	font-weight: normal;
	font-size: 2.0em;
	text-align: right;
	height: 1.0em;
}
.audioPlayer .songline {
	margin-top: 2.2em;
	height: 1.3em;
	overflow: hidden;
	white-space: nowrap;
	font-size: 1em;
}
.audioPlayer .buttonRow
{
	position: absolute;
	top: -2.0em;
	right: 0.0em;
	padding-left: 2.0em;
	padding-right: 2.0em;
	z-index: 90;
}
.audioPlayer .buttonRow > * {
	height: 2.0em;
	width: 2.0em;
	display: inline-block;
	margin-left: 0.1em;
	background-size: 2.0em;
}
.audioPlayer .buttonRow > *:last-child {
	margin-right: 0.1em;
}
