@import url('layout.css');
@import url('borderLCARS.css');

/* ***********************************************************************
 * Colors
 * *********************************************************************** */

body {
	background-color: #000000;
	color: #9999CC;
}

.controls {
	background-color: #000000;
	background:
		url('lcars-9999CC-top-left-corner.png')
			top left no-repeat,
		url('lcars-9999CC-bottom-left-corner.png')
			bottom left no-repeat;
	color: #9999CC;
	border-color: #9999CC;
}

.volumeControl {
	background-color: #9999CC;
	color: #000000;
}

.buttoni, .buttoniactive {
	border-color: #000000;
}
.buttoni {
	background: #FF9900;
	color: #000000;
}
.buttoniactive, .buttoni:hover {
	background: #000000;
	color: #FF9900;
}


.audioPlayer .playerName {
	background-image: url('lcars-FF9900-cap-left-long.svg');
	background-position: top left;
	background-repeat: no-repeat;
	background-size: 66.064516129032258065em 1.0em;
	color: #000000;
	padding-left: 0.5em;
}

.audioPlayer .buttonRow {
	background:
		url('lcars-FF9900-cap-right.svg') top right no-repeat
	;
	background-size: 2.0em;
}

.audioPlayer .buttonRow > * {
	background-repeat: no-repeat;
}

.audioPlayer .buttonRow .playButton {
	background-image: url("lcars-FF9900-play.svg");
}
.audioPlayer .buttonRow .playButton:active,
.audioPlayer .buttonRow .playButton:hover {
	background-image: url("lcars-FF9900-play-active.svg");
}

.audioPlayer .buttonRow .nextButton {
	background-image: url("lcars-FF9900-next.svg");
}
.audioPlayer .buttonRow .nextButton:active,
.audioPlayer .buttonRow .nextButton:hover {
	background-image: url("lcars-FF9900-next-active.svg");
}

.audioPlayer .buttonRow .previousButton {
	background-image: url("lcars-FF9900-previous.svg");
}
.audioPlayer .buttonRow .previousButton:active,
.audioPlayer .buttonRow .previousButton:hover {
	background-image: url("lcars-FF9900-previous-active.svg");
}

