
/* ***********************************************************************
 * Layout
 * *********************************************************************** */

body {
	font-family: sans-serif;
}

/*
 * Button array theme
 */
.volumeControl {
	font-size: smaller;
	display: inline-block;
	margin-bottom: 0.2em;
	margin-right: 0.2em;
}
.volumeControl > .name {
	padding-left: 0.2em;
	padding-right: 0.2em;
}
.buttoni, .buttoniactive {
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	min-width: 2.0em;
	min-height: 1.5em;
}


/*
 * Media Player theme.
 */
.audioPlayer {
	position: relative;
	margin-bottom: 0.2em;
}
.audioPlayer > * {
	padding-left: 0.2em;
	padding-right: 0.2em;
}
.audioPlayer > .playerName {
	font-weight: bold;
	font-size: 2.0em;
	padding-left: 3.3em;
}
.audioPlayer .songline {
	height: 1.3em;
	overflow: hidden;
	white-space: nowrap;
	font-size: 1em;
}
.audioPlayer .buttonRow
{
	position: absolute;
	top: 0.2em;
	left: 0.0em;
}
.audioPlayer .buttonRow > * {
	height: 2.0em;
	width: 2.0em;
	display: inline-block;
	margin-left: 0.10em;
	background-size: 100%;
}
.audioPlayer .buttonRow .playButton {
	background-image: url("play.svg");
}
.audioPlayer .buttonRow .playButton:active,
.audioPlayer .buttonRow .playButton:hover:active
{
	background-image: url("play-active.svg");
}
.audioPlayer .buttonRow .playButton:hover {
	background-image: url("play-hover.svg");
}

.audioPlayer .buttonRow .nextButton {
	background-image: url("next.svg");
}
.audioPlayer .buttonRow .nextButton:active,
.audioPlayer .buttonRow .nextButton:hover:active
{
	background-image: url("next-active.svg");
}
.audioPlayer .buttonRow .nextButton:hover {
	background-image: url("next-hover.svg");
}


.audioPlayer .buttonRow .previousButton {
	background-image: url("previous.svg");
}
.audioPlayer .buttonRow .previousButton:active,
.audioPlayer .buttonRow .previousButton:hover:active
{
	background-image: url("previous-active.svg");
}
.audioPlayer .buttonRow .previousButton:hover {
	background-image: url("previous-hover.svg");
}
