
body {
	font-family: sans-serif;
}

/*
 * Button array theme
 */
.buttonarraybg {
	border: 1px #888888 solid;
	display: inline;
	width: 100%;
}
.buttoni, .buttoniactive {
	border: 1px black solid;
	text-align: center;
	display: inline-block;
	min-width: 24px;
}
.buttoni, .buttoniactive {
	background: #FFFFAA;
	color: #000000;
}
.buttoniactive {
	background: red;
	color: #000000;
}


/*
 * Media Player theme.
 */
.audioPlayer {
	background-color: #334477;
	border-width: 3px;
	border-color: #AAAA00;
	border-style: double;
	border-radius: 0.5em;
	padding: 0.2em;
	color: #FFFFAA;
}
.audioPlayer .playerName {
	background-color: #445588;
	color: #FFFFDD;
	font-weight: bold;
	font-size: 1.3em;
	border-bottom-style: solid;
	border-bottom-color: #AAAA00;
	border-width: 1px;
}
.audioPlayer .songline {
	height: 1.3em;
	overflow: hidden;
	white-space: nowrap;
	font-size: 1em;
}
.audioPlayer .buttonRow > *
{
	color: #FFFFFF;
	height: 31px;
	width: 31px;
	display: inline-block;
	margin-right: 2px;
}
.audioPlayer .buttonRow .playButton {
	background-image: url("play.svg");
}
.audioPlayer .buttonRow .playButton:active,
.audioPlayer .buttonRow .playButton:hover:active
{
	background-image: url("play-active.svg");
}
.audioPlayer .buttonRow .playButton:hover {
	background-image: url("play-hover.svg");
}

.audioPlayer .buttonRow .nextButton {
	background-image: url("next.svg");
}
.audioPlayer .buttonRow .nextButton:active,
.audioPlayer .buttonRow .nextButton:hover:active
{
	background-image: url("next-active.svg");
}
.audioPlayer .buttonRow .nextButton:hover {
	background-image: url("next-hover.svg");
}


.audioPlayer .buttonRow .previousButton {
	background-image: url("previous.svg");
}
.audioPlayer .buttonRow .previousButton:active,
.audioPlayer .buttonRow .previousButton:hover:active
{
	background-image: url("previous-active.svg");
}
.audioPlayer .buttonRow .previousButton:hover {
	background-image: url("previous-hover.svg");
}
